/**********************************************  md  ************************************/
@media all and (max-width: 1200px){
    .imgAppli img {
        top: -112px;
    }
    .bgSection1{
        padding:100px 50px;
    }
    .bgLogoSection1 div {
        height: 490px;
    }
    .parallelogramme1::before {
        left: 430px;
    }
}
/****************************************************************************************/


/**********************************************  sm  ************************************/

@media all and (max-width: 992px){
    h1{
        font-size:30px;
        line-height:35px;
    }
    .bgSection1{
        padding:100px 0;
    }
    .bgLogoSection1 div {
        height: 415px;
    }
    .imgAppli img {
        top: -57px;
    }
    h2{
        font-size: 32px;
    line-height: 35px;
    }

    .optionList ul li a{
        font-size:24px;
    }

    .working h3{
        font-size:30px;
        line-height: 35px;
    }

    .bgWorkingOrange, .bgWorkingGrey, .bgWorkingRed{
        min-height:550px;
    }

    .txtHot button{
        margin-top:0;
    }

    .parallelogramme1::before {
        left: 265px;
        top:-1px;
        height:249px;
        width:200px;
    }

    .footerBlocs{
        padding:15px 10px;
    }
}
/****************************************************************************************/


/**********************************************  xs  ************************************/

@media all and (max-width: 767px){	
.navbar-collapse{
    border-top:none;
    margin-top:10px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border-color:#fff;
}

.navbar-nav{
    margin:-1px 0;
}

.navbar-brand{
    padding-top:0;
}

.diago{
    background-image: linear-gradient(-6deg, #00ccbc 25%, transparent 25.04%);
    margin-bottom:-1px;
}

.bgSection1{
    padding:25px 10px;
}

.bgLogoSection1 {
    background: url(/home/matthieu/Documents/projet1/Deliveroo/img/pasta-wide.jpg) no-repeat -50px -410px;
    background-size: 200%;
    padding-right:0;
}

.bgLogoSection1 div {
    height: 230px;
}

.bgLogoSection1 img{
    width:20%;
}

.imgAppli img {
    top: -35px;
}

.txtHotRspsive{
    padding:20px 10px;
}

.bgWorkingRed, .bgWorkingOrange{
    margin-bottom:30px;
}

.footerBlocs{
    margin-bottom:30px;
}

footer .noPadding:first-child{
    padding-left:15px;
}

footer .noPadding:last-child{
    padding-right:15px;
}

}

@media screen and (max-width: 667px) {
    body {
        overflow-x: hidden !important;
    }
    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
    .bgLogoSection1 {
        background: url(/home/matthieu/Documents/projet1/Deliveroo/img/pasta-wide.jpg) no-repeat -50px -130px;
        background-size: 300%;
}
h1 {
    font-size: 25px;
    line-height: 30px;
}
h2 {
    font-size: 25px;
    line-height: 30px;
}
.optionList ul li a {
    font-size: 22px;
}
.txtCover {
    font-size: 25px;
    line-height: 30px;
}
.parallelogramme1::before {

    height:0;
    width:0;

}

.parallelogramme2::after {
    content: " ";
    width:0;
    height:0;

    .txtHotRspsive img{
        width:100%;
    }
    .txtHot h3 {
        font-size: 18px;
    }
    .txtHot {
        padding: 5px;
        height: 270px;
    }
    .txtHot .btn-connexion {
        padding: 5px 5px;
        font-size: 14px;
        width: 100%;
    }
    .imgHot img {
        width: 220%;
    }
    .imgHot {
        height: 270px;
    }
    .imgAppli img {
        top: 0px;
        left: -75px;
    }


.spriteApple{
    background-size:cover;
    width: 85px;
    height: 25px;
}
.spriteGooglePlay{
    background:url('/home/matthieu/Documents/projet1/Deliveroo/img/app-store-badges-fr-094b53f2d1964654c2392ab01778c750.svg') no-repeat -84px 0;
    background-size:cover;
    width: 87px;
    height: 25px;
}
.footerBlocs {
    min-height: 230px;
}
.social li {
    padding-right: 3px;
}
/****************************************************************************************/